<div class="form-container">
<form id="add-other-form">
    <label for="other-name">Caravana del animal:</label>
    <input type="text" id="other-name" name="name" required>

    <label for="other-treatmentId">Tratamiento:</label>
    <select id="other-treatmentId" name="treatmentId" required>
        <option value="">Seleccione un tratamiento</option>
        {{#each treatments}}
            <option value="{{this._id}}">{{this.title}}</option>
        {{/each}}
    </select>

    <label for="other-startDate">Fecha de inicio:</label>
    <input type="date" id="other-startDate" name="startDate" required>

    <label for="other-startTurn">Turno de inicio:</label>
    <select id="other-startTurn" name="startTurn" required>
        <option value="">Seleccione el turno</option>
        <option value="morning">Mañana (00:00–12:00)</option>
        <option value="afternoon">Tarde (12:00–24:00)</option>
    </select>

    <label for="other-duration">Duración(turnos de 12 horas):</label>
    <input type="number" id="other-duration" name="duration" readonly>

    <label for="other-endDate">Fecha final de tratamiento:</label>
    <input type="date" id="other-endDate" name="endDate" readonly>

    <label for="other-endDateDiscardMilk">Fecha final de descarte de leche:</label>
    <input type="date" id="other-endDateDiscardMilk" name="endDateDiscardMilk" readonly>

    <button type="submit" class="link-button">Guardar Evento</button>
</form>
</div>
