<div class="header-div">
  <div class="headerlogged-div">
    <img class="header-img" src="/img/logoprueba.jpg" alt="" />
    <h1>MastiTech</h1>
  </div>
  <a href="/login/logout" class="link-button">Cerrar sesión</a>
</div>